.vscode/launch.json
Sonstiges/Buch/#Hinweise.txt
get-pip.py
Lib/site-packages/_mysql_connector.cp37-win_amd64.pyd
Lib/site-packages/_mysqlxpb.cp37-win_amd64.pyd
Lib/site-packages/libcrypto-1_1-x64.dll
Lib/site-packages/libmysql.dll
Lib/site-packages/libssl-1_1-x64.dll
Lib/site-packages/mysql/__init__.py
Lib/site-packages/mysql/__pycache__/__init__.cpython-38.pyc
Lib/site-packages/mysql/connector/__init__.py
Lib/site-packages/mysql/connector/abstracts.py
Lib/site-packages/mysql/connector/authentication.py
Lib/site-packages/mysql/connector/catch23.py
Lib/site-packages/mysql/connector/charsets.py
Lib/site-packages/mysql/connector/connection_cext.py
Lib/site-packages/mysql/connector/connection.py
Lib/site-packages/mysql/connector/constants.py
Lib/site-packages/mysql/connector/conversion.py
Lib/site-packages/mysql/connector/cursor_cext.py
Lib/site-packages/mysql/connector/cursor.py
Lib/site-packages/mysql/connector/custom_types.py
Lib/site-packages/mysql/connector/dbapi.py
Lib/site-packages/mysql/connector/errorcode.py
Lib/site-packages/mysql/connector/errors.py
Lib/site-packages/mysql/connector/network.py
Lib/site-packages/mysql/connector/optionfiles.py
Lib/site-packages/mysql/connector/pooling.py
Lib/site-packages/mysql/connector/protocol.py
Lib/site-packages/mysql/connector/utils.py
Lib/site-packages/mysql/connector/version.py
Lib/site-packages/mysql/connector/__pycache__/__init__.cpython-38.pyc
Lib/site-packages/mysql/connector/django/__init__.py
Lib/site-packages/mysql/connector/django/base.py
Lib/site-packages/mysql/connector/django/client.py
Lib/site-packages/mysql/connector/django/compiler.py
Lib/site-packages/mysql/connector/django/creation.py
Lib/site-packages/mysql/connector/django/features.py
Lib/site-packages/mysql/connector/django/introspection.py
Lib/site-packages/mysql/connector/django/operations.py
Lib/site-packages/mysql/connector/django/schema.py
Lib/site-packages/mysql/connector/django/validation.py
Lib/site-packages/mysql/connector/locales/__init__.py
Lib/site-packages/mysql/connector/locales/eng/__init__.py
Lib/site-packages/mysql/connector/locales/eng/client_error.py
Lib/site-packages/mysql_connector_python-8.0.19-py3.7.egg-info/dependency_links.txt
Lib/site-packages/mysql_connector_python-8.0.19-py3.7.egg-info/PKG-INFO
Lib/site-packages/mysql_connector_python-8.0.19-py3.7.egg-info/requires.txt
Lib/site-packages/mysql_connector_python-8.0.19-py3.7.egg-info/SOURCES.txt
Lib/site-packages/mysql_connector_python-8.0.19-py3.7.egg-info/top_level.txt
Lib/site-packages/mysqlx/__init__.py
Lib/site-packages/mysqlx/authentication.py
Lib/site-packages/mysqlx/charsets.py
Lib/site-packages/mysqlx/compat.py
Lib/site-packages/mysqlx/connection.py
Lib/site-packages/mysqlx/constants.py
Lib/site-packages/mysqlx/crud.py
Lib/site-packages/mysqlx/dbdoc.py
Lib/site-packages/mysqlx/errorcode.py
Lib/site-packages/mysqlx/errors.py
Lib/site-packages/mysqlx/expr.py
Lib/site-packages/mysqlx/helpers.py
Lib/site-packages/mysqlx/protocol.py
Lib/site-packages/mysqlx/result.py
Lib/site-packages/mysqlx/statement.py
Lib/site-packages/mysqlx/locales/__init__.py
Lib/site-packages/mysqlx/locales/eng/__init__.py
Lib/site-packages/mysqlx/locales/eng/client_error.py
Lib/site-packages/mysqlx/protobuf/__init__.py
Lib/site-packages/mysqlx/protobuf/mysqlx_connection_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_crud_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_datatypes_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_expect_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_expr_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_notice_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_prepare_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_resultset_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_session_pb2.py
Lib/site-packages/mysqlx/protobuf/mysqlx_sql_pb2.py
portfolio/__pycache__/pf_main_window.cpython-38.pyc
portfolio/__pycache__/pf_t_sodoku_solver.cpython-38.pyc
portfolio/__pycache__/pf_t_systeminfo.cpython-38.pyc
portfolio/__pycache__/pf_t_test.cpython-38.pyc
portfolio/pf_otpr_py_excel_reader_file.csv
portfolio/pf_otpr_login_system.csv
.vscode/settings.json
Übungen/daten_8_9.csv
Übungen/gui_text_11_6.txt
Übungen/highscore.bin
Übungen/highscore.db
Übungen/lesen_8_4.txt
Übungen/morsen_8_22.txt
Übungen/obst_8_12.txt
Übungen/obst_8_15.txt
Übungen/objekt.bin
Übungen/schreiben_8_2.txt
Übungen/spiel_datei_oop_highscore.csv
Übungen/icon_robot.png
Übungen/icon_mail.png
Übungen/icon_robot.ico
portfolio/pf_t_support_ticket.csv
